<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	
	
    <link href="http://vitalets.github.io/bootstrap-editable/assets/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="http://vitalets.github.io/bootstrap-editable/assets/bootstrap-editable/js/bootstrap-editable.js"></script>

	
    <script src="http://vitalets.github.io/bootstrap-editable/assets/bootstrap/js/bootstrap.js"></script>
    <script src="http://vitalets.github.io/bootstrap-editable/assets/mockjax/jquery.mockjax.js"></script>
    <script src="http://vitalets.github.io/bootstrap-editable/assets/prettify/prettify.js"></script>
    -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="http://ioncache.github.io/Tag-Handler/css/jquery.taghandler.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://ioncache.github.io/Tag-Handler/css/cupertino/jquery-ui-1.8.2.custom.css" />

	<script type="text/javascript" src="https://ioncache.github.com/Tag-Handler/js/jquery.taghandler.min.js"></script>

    <style>
        .showme{ 
        display: none;
        }
        .showhim:hover .showme{
        display : inline;
        }
        
    </style>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://twitter.github.io/bootstrap/assets/ico/favicon.png">
  </head>

  <body>

  <div class="navbar">
      <div class="navbar-inner">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
          </ul>
          <form class="navbar-search">
              <input type="text" class="search-query" placeholder="Search">
          </form>
          <ul class="nav pull-right">
              <li><p class="navbar-text">Hello, {{ person.name }}</p></li>
              <li><a href="{{ logout }}">Logout</a></li>
          </ul>
      </div>
  </div>

    <div class="container">

      {% block content %}{% endblock %}

    </div> <!-- /container -->
  </body>
</html>


