{% extends "templates/base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

<h3>My tasks</h3>
<ul>
    {% for t in tasks %}{% if t.assigner.key() == person.key() %}
    <li><a href="/{{ t.project.code }}-{{ t.key().id() }}/">{{ t.project.code }}-{{ t.key().id() }}: {{ t.title }}</a></li>
    {% endif %}{% endfor %}
</ul>
<ul class="breadcrumb">
  <li><a href="#">My finished tasks</a> <span class="divider"> | </span></li>
  <li><a href="#">Reported by me</a> <span class="divider"> | </span></li>
</ul>

<h3>My projects</h3>
<ul>
{% for p in projects %}{% if p.leader.key() == person.key() %}
    <li><a href="/{{ p.code }}/">{{ p.title }} - {{ p.code }}</a> | {{ p.mission }}</a></li>
{% endif %}{% endfor %}
</ul>

<ul class="breadcrumb">
  <li><a href="#">Other projects</a> <span class="divider"> | </span></li>
  <li><a href="#">My closed projects</a> <span class="divider"> | </span></li>
</ul>


<button class="btn" id="addpb">New Project</button>
<span style="display: none" id="addpf">

<form class="form-horizontal" method="POST" action="">
<fieldset>
<legend>New porject</legend>
<div class="control-group">
  <label class="control-label">Title:</label>
  <div class="controls">
    <input id="title" name="title" type="text" class="span6" placeholder="World Domination" class="input-xlarge" required="">
  </div>
</div>
<div class="control-group">
  <label class="control-label">Code:</label>
  <div class="controls">
    <input id="code" name="code" type="text" class="span6" placeholder="PROJ" class="input-xlarge" required="">
  </div>
</div>
<div class="control-group">
  <label class="control-label">Mission:</label>
  <div class="controls">
    <input id="mission" name="mission" type="text" class="span6" placeholder="to change the world" class="input-xlarge" required="">
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description:</label>
  <div class="controls">                     
    <textarea id="content" name="content" class="span6" rows="5"></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <input type="submit" id="sm-newproj" name="sm-newproj" class="btn btn-primary" value="Start project">
  </div>
</div>
</fieldset>
</form>


<hr /></span>

<script type="text/javascript">
$('#addpb').click(function() {
  $('#addpf').toggle('fast');
});
</script>
{% endblock %}
