{% extends "templates/base.html" %}

{% block title %}{{ project.code }} - {{ project.title }}{% endblock %}

{% block content %}

<h2>{{ project.code }}: {{ project.title }} <small> - {{ project.mission }}</small></h2>
<div class="row">
  <div class="span8 well">
  <legend>Open tasks</legend>
    <div  id="tasklist">
    
    </div>
  </div>
  <div class="span3 well">
    <legend>Project info
        {% if person.name == project.leader.name %}
        <a class="btn btn-mini" href="edit/"><i class="icon-cog"></i>Edit</a>
        {% endif %}
    </legend>
    <ul>
        <li>Started {{ project.dt.strftime('%d.%m.%Y') }}</li>
        <li>Leader: <a href="/p/{{ project.leader.name }}/">{{ project.leader.name }}</a></li>
    </ul>
    <legend>Project crew</legend>
    ajax project persons
  </div>
</div>

<button class="btn" id="addpb">New task</button>
<span style="display: none" id="addpf">

<form class="form-horizontal" method="POST" action="">
<fieldset>
<legend>New task(s)</legend>
<div class="control-group">
  <label class="control-label">Title:</label>
  <div class="controls">
    <input id="title" name="title" type="text" class="span6" placeholder="Stop procrastinating!" class="input-xlarge" required="">
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description (optional):</label>
  <div class="controls">                     
    <textarea id="comment" name="comment" class="span6" rows="3" placeholder="Also your first comment"></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label">ToDo list / subtasks (optional):</label>
  <div class="controls">                     
    <textarea id="todo" name="todo" class="span6" rows="6" placeholder="Every task with a new line. They will be converted to subtasks. Use [PROJ-123456] to insert task that exists."></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <input type="submit" id="sm-newtask" name="sm-newtask" class="btn btn-primary" value="Add task">
  </div>
</div>
</fieldset>
</form>
<hr /></span>


<script type="text/javascript" charset="utf-8">

$('#addpb').click(function() { //new task form
  $('#addpf').toggle('fast');
});

</script>
{% endblock %}
