{% extends "templates/base.html" %}

{% block title %}{{ project.code }} - {{ project.title }}{% endblock %}

{% block content %}

<h2>{{ project.code }}: {{ project.title }} <small> - {{ project.mission }}</small></h2>
<div class="row">
  <div class="span8 well">
  <legend>Open tasks</legend>
    <div  id="tasklist">
    
    </div>
    
    
<button class="btn" id="addpb">New task</button>
<span style="display: none" id="addpf">

<form class="form-horizontal" method="POST" action="">
<fieldset>
<legend>New task</legend>
<div class="control-group">
  <label class="control-label">Title:</label>
  <div class="controls">
    <input id="title" name="title" type="text" class="span5" placeholder="Stop procrastinating!" class="input-xlarge" required="">
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description (optional):</label>
  <div class="controls">                     
    <textarea id="comment" name="comment" class="span5" rows="3" placeholder="Use lists started with [*] for making subtasks"></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <input type="submit" id="sm-newtask" name="sm-newtask" class="btn btn-primary" value="Add task">
  </div>
</div>
</fieldset>
</form>
<hr /></span>
    
    
  </div>
  <div class="span3 well">
    <legend>Project info
        {% if person.name == project.leader.name %}
        <a class="btn btn-mini" href="edit/"><i class="icon-cog"></i>Edit</a>
        {% endif %}
    </legend>
    <ul>
        <li>Started {{ project.dt.strftime('%d.%m.%Y') }}</li>
        <li>Leader: <a href="/p/{{ project.leader.name }}/">{{ project.leader.name }}</a></li>
    </ul>
    <legend>Project crew</legend>
    <ul id="array_member_handler"></ul>
    <legend>Tags</legend>
    <ul id="array_tag_handler"></ul>
  </div>
</div>




<script type="text/javascript" charset="utf-8">

$('#addpb').click(function() { //new task form
  $('#addpf').toggle('fast');
});
	
//  http://ioncache.github.io/Tag-Handler/
//  GET /_ajax/?action=get_persons&q=test HTTP/1.1" 200 2

$("#array_member_handler").tagHandler({
    getData: { action: 'get_persons', project: '{{ project.code }}'},
    getURL: '/_ajax/',
    updateData: { action: 'set_persons', project: '{{ project.code }}'},
    updateURL: '/_ajax/',
    assignedTags: [ {% for p in project.get_members() %} "{{ p.name }}"{% if not loop.last%},{% endif %} {% endfor %} ],
    autocomplete: true,
    initLoad: false,
    minChars: 2,
    allowAdd: false,
    autoUpdate: true
});

$("#array_tag_handler").tagHandler({
    getData: { action: 'get_tags', project: '{{ project.code }}'},
    getURL: '/_ajax/',
    updateData: { action: 'set_tags', project: '{{ project.code }}'},
    updateURL: '/_ajax/',
    assignedTags: [ {% for t in project.get_tags() %} "{{ t.name }}"{% if not loop.last%},{% endif %} {% endfor %} ],
    autocomplete: true,
    initLoad: false,
    minChars: 2,
    autoUpdate: true
});


$("#array_member_handler li.tagItem").hover(
  function () {
    $(this).append($("<a href='/p/" + $(this).html() + "'> <i class='icon-info-sign'></i></a>"));
  },
  function () {
    $(this).find("a:last").remove();
  }
);
$("#array_tag_handler li.tagItem").hover(
  function () {
    $(this).append($("<a href='/f/?tag=" + $(this).html() + "'> <i class='icon-search'></i></a>"));
  },
  function () {
    $(this).find("a:last").remove();
  }
);
</script>

{% endblock %}
